html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.main-block {
    width: 100%;
}

.container {
    width: 80%;
    margin: auto;
    overflow: auto;
}

.buttons {
    width: 30%;
    margin: 50px auto;
    overflow: auto;
    padding: 10px;
}

.first {
    width: 50%;
    padding: 10px;
    float: left;
}

.button {
    padding: 20px;
    color: #fff;
    position: relative;
    z-index: 1;
}


.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    width: 100%;
    z-index: -1;
    border-color: #ddd;
    background-color: red;
}

.button:hover::before{
    height: 70%;
    width: 100%;
}


.blue-color {
    background-color: #00e0dd;
}

.main-button {
    padding: 5px 10px;
    margin: auto;
    text-align: center;
    font-size: 50px;
    color: #c4c4c4;
}

.fa {
    box-shadow: 0 5px 16px rgba(0, 0, 0, .06);
    border-radius: 50%;
    padding: 20px;
}

.main-button:hover {}
